Repository Wake-up-together-TogetUp/Togetup-iOS-Refactoring, pull requests merged in 2024-08, with the labels that each got.

#32 [#22] 그룹 탈퇴 기능 구현
  TogetUp/TogetUp/Screen/Group/View/GroupCalendarViewController.swift
  TogetUp/TogetUp/Screen/Group/View/GroupSettingViewController.swift
  TogetUp/TogetUp/Screen/Group/ViewModel/GroupSettingsViewModel.swift
Labels: Feat ⭐️, Group ⏰, 나연 😈

#33 [#27] 브리핑 보드 그룹 색상 추가
  TogetUp/TogetUp.xcodeproj/project.pbxproj
  TogetUp/TogetUp.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  TogetUp/TogetUp/Global/Extensions/String  + Extension.swift
  TogetUp/TogetUp/Resource/Assets.xcassets/Color/secondary400.colorset/Contents.json
  TogetUp/TogetUp/Screen/Home/View/FloatingPannelViewController.swift
  TogetUp/TogetUp/Screen/Home/View/TimelineCollectionViewCell.swift
Labels: Feat ⭐️, 예원 👻, Home ⏰

#35 [#28] 알람 생성화면 UI 업데이트 및 미션 수행 화면 오토레이아웃 SE 기기대응
  TogetUp/TogetUp.xcodeproj/project.pbxproj
  TogetUp/TogetUp.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  TogetUp/TogetUp/Global/Helpers/RealmDataManger.swift
  TogetUp/TogetUp/Screen/Alarm/Model/AlarmModel.swift
  TogetUp/TogetUp/Screen/Alarm/View/AlarmListViewController.swift
  TogetUp/TogetUp/Screen/Alarm/View/Base.lproj/Alarm.storyboard
  TogetUp/TogetUp/Screen/Alarm/View/EditAlarmViewController.swift
  TogetUp/TogetUp/Screen/Main/Base.lproj/Main.storyboard
  TogetUp/TogetUp/Screen/Mission/View/MissionPerformViewController.swift
Labels: Fix 👩🏻‍🔧, Design ⚜️, 예원 👻, Alarm ⏰

#39 [#30](FCM) 연동 및 푸시 알림 구현
  TogetUp/TogetUp.xcodeproj/project.pbxproj
  TogetUp/TogetUp.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  TogetUp/TogetUp/Network/APIs/NotificationAPI.swift
  TogetUp/TogetUp/Network/Base/URLConstant.swift
  TogetUp/TogetUp/Network/Service/UserService.swift
  TogetUp/TogetUp/Resource/Supports/AppDelegate.swift
  TogetUp/TogetUp/Screen/Home/Model/NotificationModel.swift
  TogetUp/TogetUp/Screen/Home/View/Base.lproj/Home.storyboard
  TogetUp/TogetUp/Screen/Home/View/Cell/NotificationCollectionViewCell.swift
  TogetUp/TogetUp/Screen/Home/View/HomeViewController.swift
  TogetUp/TogetUp/Screen/Home/View/PushNotificationViewController.swift
  TogetUp/TogetUp/Screen/Home/ViewModel/PushNotificationViewModel.swift
Labels: Feat ⭐️, Home ⏰, 나연 😈

#44 [#42] 2.0.0 업데이트 전 수정
  TogetUp/.DS_Store
  TogetUp/TogetUp/Resource/Assets.xcassets/Group/cheveron-up.imageset/Contents.json
  TogetUp/TogetUp/Resource/Assets.xcassets/Group/cheveron-up.imageset/chevron-up (1).png
  TogetUp/TogetUp/Resource/Assets.xcassets/Group/cheveron-up.imageset/chevron-up (2).png
  TogetUp/TogetUp/Resource/Assets.xcassets/Group/cheveron-up.imageset/chevron-up.png
  TogetUp/TogetUp/Screen/Alarm/View/AlarmListViewController.swift
  TogetUp/TogetUp/Screen/Alarm/View/Cell/GroupAlarmCollectionViewCell.swift
  TogetUp/TogetUp/Screen/Group/View/CreateAlarmViewController.swift
  TogetUp/TogetUp/Screen/Group/View/CreateGroupView.swift
  TogetUp/TogetUp/Screen/Group/View/CreateGroupViewController.swift
  TogetUp/TogetUp/Screen/Group/View/GroupCalendarViewController.swift
  TogetUp/TogetUp/Screen/Group/View/GroupJoinAlarmViewController.swift
  TogetUp/TogetUp/Screen/Group/View/GroupSettingViewController.swift
Labels: Feat ⭐️, Fix 👩🏻‍🔧, Alarm ⏰, Group ⏰, 나연 😈
